$color-primary: #057678;
$color-primary-transparent: #00000024;
$color-secondary: #ffcf6f;
$color-text: #161c28;
$color-text-light: #00000080;
$color-white: #ffffff;
$color-black: #000000;
$color-red: #d92d2d;
