@import "../../styles/main.module.scss";

.container {
  position: relative;
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 5vw 120px;
  z-index: 0;
  @include responsive(md) {
    padding: 60px 5vw 200px;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.pattern {
  position: absolute;
  bottom: 0;
  right: 25%;
  width: 25vw;
  height: auto;
  z-index: -100;
  @include responsive(md) {
    width: 60vw;
    right: 0;
  }
}

.phone {
  width: 60%;
  height: auto;
  object-fit: contain;

  @include responsive(md) {
    width: 100%;
    margin-bottom: 60px;
  }
}

.textWrapper {
  color: $color-white;

  h2 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
    font-weight: 300;
  }

  button {
    background-color: $color-white;
    color: $color-primary;
    font-weight: 600;
    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }
}
