name: Deploy website on push

on:
  push:
    branches:
      - main
    repository:
      name: aimedicare-landing-page-2
      owner: AIMedicare

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v2

      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Install packages
        run: npm install

      - name: Build Project
        run: npm run build

      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@4.3.3
        with:
          server: ftp.aimedicare.ng
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          local-dir: ./out/
          server-dir: ./
